{% extends "base.html" %}

{% block title %}Work - Isaak Liptzin{% endblock %}

{% block content %}
<section class="work-section">
    <h1>Work</h1>
    <div class="projects-grid">
        {% for project in projects %}
        <a href="/projects/{{ project.id }}" class="project-card">
            <div class="project-thumbnail">
                <iframe src="https://player.vimeo.com/video/{{ project.vimeo_id }}" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
            </div>
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
